---
title: Middleman - About
---

<div id="about">
  <div class="about-content">
    We tried to provide an updated template permitting the use of Bootstrap 4 on Middleman, with just the right gems and config in order to deploy it easily.

    Be warned, as we think that Fontawesome is too heavy we use .svg files.
    Thus, Fontawesome gem / css config are not included in this template.

    Yours,

    Benoit
  </div>
</div>
